<div class="m-5">
    <div class="bg-dark text-white d-flex justify-content-between p-2 rounded">
        <h2 style="margin-left: 1.5rem;">Users</h2>
        <div class="d-flex gap-2 align-items-center" style="margin-right: 1.5rem;">
            <button class="btn  btn-danger d-flex justify-content-center gap-2"  style="width:6.5rem;">
                <mat-icon class="text-warning bg-white rounded-circle ">remove</mat-icon>
                <span  >Delete</span>
            </button>
            <button class="btn btn-success  d-flex justify-content-center gap-3" style="width:13rem;" (click)="openDialog()">
                <mat-icon class="text-warning bg-white rounded-circle">add</mat-icon>
                <span >Add New User</span>
            </button>
        </div>
    </div>
    <table class="custom-table w-100" style="table-layout: fixed;">
        <thead >
          <tr>
            <th scope="col">
                <input type="checkbox">
            </th>
            <th scope="col">Name</th>
            <th scope="col" style="width: 20%;">Email</th>
            <th scope="col" style="width: 20%;">Gender</th>
            <th scope="col" style="width: 25%;">Phone</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
          <tr >
            <td scope="row">
                <input type="checkbox">
            </td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.phone }}</td>
            <td>
                <div class="d-flex gap-5">
                    <mat-icon class="text-warning">edit</mat-icon>
                    <mat-icon class="text-danger">delete</mat-icon>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>
