<!-- <div style="display: flex;justify-content: center;align-items:center;height:100vh;">
    <div>
        <span>General Information</span>
        <div style="display: flex; gap: 6rem; margin-top:1rem;">
            <div style="">
                <input type="radio" id="css"  value="" style="margin-right:10px;">         
                <label for="html">For Enterprise from CamDx</label>
            </div>
            <div>
                <input type="radio" id="css"  value="" style="margin-right:10px;">         
                <label for="html">For New Enterprise</label>
            </div>
        </div>
        <div style="display: flex;gap:2rem; margin-top:1rem;">
            <div >
                <label style="margin-bottom:8px;" for="">Plan Name</label><br>
                <input type="text">
            </div>
            <div>
                <label style="margin-bottom:8px;" for="">Plan Name</label><br>
                <input type="date">
            </div>
            <div>
                <label style="margin-bottom:8px;" for="">Plan Name</label><br>
                <input type="text">
            </div>
        </div>

        <div style="margin-top:2rem;">
            <span>General Information</span>
        </div>

        <div style="display: flex;gap:2rem; margin-top:1rem;">
            <div >
                <label style="margin-bottom:8px;" for="">Plan Name</label><br>
                <input type="text">
            </div>
            <div>
                <label style="margin-bottom:8px;" for="">Plan Name</label><br>
                <input type="date">
            </div>
            <div>
                <label style="margin-bottom:8px;" for="">Plan Name</label><br>
                <input type="text">
            </div>
        </div>
    </div>
</div> -->

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <span class="h5 fw-bold">General Information</span>
  
      <div class="d-flex gap-5 mt-3">
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
      </div>
  
      <div class="row mt-3">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan Date</mat-label>
            <input matInput type="date">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
      </div>
  
      <div class="mt-4">
        <span class="h5 fw-bold">General Information</span>
      </div>
  
      <div class="row mt-3">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan Date</mat-label>
            <input matInput type="date">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan Name</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  