<div class="container mt-5">
    <h2 class="text-center">Categories</h2>
  
    <!-- Category Buttons -->
    <div class="row mb-3">
      <div class="col-md-3 mb-4">
        <button class="btn btn-outline-primary w-100"  (click)="selectCategory('category1')" [ngClass]="{'active-category': selectedCategory === 'category1'}">
          Electronics
        </button>
      </div>
      <div class="col-md-3 mb-4">
        <button class="btn btn-outline-primary w-100" (click)="selectCategory('category2')" [ngClass]="{'active-category': selectedCategory === 'category2'}" >
          Fashion & Apparel
        </button>
      </div>
      <div class="col-md-3 mb-4">
        <button class="btn btn-outline-primary w-100" (click)="selectCategory('category3')" [ngClass]="{'active-category': selectedCategory === 'category3'}">
          Baby & Kids
        </button>
      </div>
      <div class="col-md-3 mb-4">
        <button class="btn btn-outline-primary w-100" (click)="selectCategory('category4')" [ngClass]="{'active-category': selectedCategory === 'category4'}">
          Books & Stationery
        </button>
      </div>
    </div>
  
    <!-- Category 1 Cards -->
    <div *ngIf="selectedCategory === 'category1'" class="category-cards mt-3">
      <div class="row">
        <div class="col-4" *ngFor="let card of category1Cards">
          <div class="card my-3">
            <img [src]="card.imgUrl" class="card-img-top" alt="Category 1 Image">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p>{{ card.des }}</p>
              <button (click)='openDialogDetail()' class="btn btn-primary">See More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Category 2 Cards -->
    <div *ngIf="selectedCategory === 'category2'" class="category-cards mt-3">
      <div class="row">
        <div class="col-4" *ngFor="let card of category2Cards">
          <div class="card">
            <img [src]="card.imgUrl" class="card-img-top" alt="Category 2 Image">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p>{{ card.des }}</p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Category 3 Cards -->
    <div *ngIf="selectedCategory === 'category3'" class="category-cards mt-3">
      <div class="row">
        <div class="col-4" *ngFor="let card of category3Cards">
          <div class="card">
            <img [src]="card.imgUrl" class="card-img-top" alt="Category 3 Image">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p>{{ card.des }}</p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<app-dialog-detail *ngIf="isDialogOpen" (close)="closeDialog()"></app-dialog-detail>