<!-- <div class="container show d-block mt-5">
    <h2 class="mb-4">User Information Form</h2>
    <form class="">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age" placeholder="Enter your age" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Enter your address" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->

<div class="modal fade show d-block d-flex  d-flex justify-content-center align-items-center w-100 h-100" tabindex="-1"  data-bs-backdrop="false" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Title</h5>
          <button type="button" class="btn-close" (click)="closeDialog()"></button>
        </div>
        <div class="modal-body text-center">
          <img src="https://t3.ftcdn.net/jpg/06/32/90/44/360_F_632904407_iPLi90WdjZ0oKAeRiL98gEIeHIUtzWae.jpg" 
               class="img-fluid rounded" alt="Image">
          <p class="mt-3">Dialog-detail works!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDialog()">Close</button>
        </div>
      </div>
    </div>
  </div>
  