<div class="modal fade show d-block d-flex  d-flex justify-content-center align-items-center w-100 h-100" tabindex="-1"  data-bs-backdrop="false" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Title</h5>
          <button type="button" class="btn-close" (click)="closeDialog()"></button>
        </div>
        <div class="modal-body text-center">
          <img src="https://t3.ftcdn.net/jpg/06/32/90/44/360_F_632904407_iPLi90WdjZ0oKAeRiL98gEIeHIUtzWae.jpg" 
               class="img-fluid rounded" alt="Image">
          <p class="mt-3">Dialog-detail works!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDialog()">Close</button>
        </div>
      </div>
    </div>
  </div>
  