
  table {
    width:100%;
    background:none;
}
table, th, td {
      border:1px solid black;
      text-align:left;
  }
  th {
    background-color: rgb(162, 197, 241) !important;
  }
  

input {
  width:250px;
}